<div class="info">
    <div class="mount_histPlc-image">
        <img src="./images/Noor Mahal.jpg" alt="Noor Mahal ">
    </div>
    <div class="details">
        <h2>Noor Mahal</h2>
        <p><strong>Location: </strong>Bahawalpur</p>
        <p><strong>About: </strong>The Noor palace is spread over an area of 44,600 square feet and has 32 rooms, 14 of which is under the basement. Its 6 verandas and 5 domes are beautifully decorated and represent the Corinthian style of architecture. Other than the Corinthian style it also has an Islamic style of architecture used in its building. Noor Mahal is also full of things that were used by Nawab. And its furniture is transported from England and Italy.</p>
    </div>
</div>
<div class="info">
    <div class="mount_histPlc-image">
        <img src= "./images/Makli.jpg" alt="Makli">
    </div>
    <div class="details">
        <h2>Makli</h2>
        <p><strong>Location: </strong>Thatta, Sindh.</p>
        <p><strong>About: </strong>Makli - Houses around  1 million Tombs
            The World's largest funeral sites and a United Nations World Heritage site since 1981. Makli Necropolis is spread on an area of about 10km2 and is located near the plateau of Makli Hill which is 6.5 km long and is just outside the Thatta, city of Sindh.</p>
    </div>
</div>
<div class="info">
    <div class="mount_histPlc-image">
        <img src="./images/Katas Raj Temple.jpg" alt="Katas Raj Temple">
    </div>
    <div class="details">
        <h2>Katas Raj Temple</h2>
        <p><strong>Location: </strong>Kallar Kahar</p>
        <p><strong>About: </strong>This ancient monument is a set of different temples connected by pathways, surrounding a pond known as Katas. This pond is regarded as a sacred pond in the Hindu religion as some history of Hinduism is connected to this pond and this temple.</p>
    </div>
</div>
<div class="info">
    <div class="mount_histPlc-image">
        <img src="./images/Derawar Fort.jpg" alt="Derawar Fort">
    </div>
    <div class="details">
        <h2>Derawar Fort</h2>
        <p><strong>Location: </strong>Cholistan Desert, Southern part of Punjab.</p>
        <p><strong>About: </strong>Derawar Fort or as previously known as Dera Rawar is a large fortress located in the Cholistan Desert in the southern part of Punjab. This stronghold is of square shape and one of the breath-taking scenes of it is the view of its walls. Its walls have a perimeter of 1500 meters and are surrounded by 30-meter-tall bastions. This fort is visited by many tourists and can be reached by an off-road Jeep drive. While the fort is no doubt is quite strong but still, the passage of time has left its mark on the fort.</p>
    </div>
</div>
<div class="info">
    <div class="mount_histPlc-image">
        <img src="./images/Mohenjo-Daro.jpg" alt="Mohenjo-Daro">
    </div>
    <div class="details">
        <h2>Mohenjo-Daro</h2>
        <p><strong>Location: </strong>Mohenjo-daro, Larkana, Sindh</p>
        <p><strong>About: </strong>Mohenjo-Daro at its peak was the largest city of Indus Civilization. And it is said to have the world's finest civil engineered builds. And The Great Bath is the perfect example of it. And the proverb that Old places have souls perfectly fits here. The builds of Mohenjo-Daro also resemble that of Harappa which is also an ancient city around that time. </p>
    </div>
</div>