<div class="info">
    <div class="valley-image">
        <img src= "./images/neelum-valley.jpg" alt="neelum-valley">
    </div>
    <div class="details">
        <h2>Neelum Valley</h2>
        <p><strong>Location: </strong>Azad Kashmir</p>
        <p><strong>About: </strong>Neelum Valley is popularly known as the paradise of Pakistan. Located in Azad Kashmir, Neelum Valley surpasses all known beauty parameters, and one finds words unworthy to describe the beauty of this paradise-like valley on the Earth. People from all over Pakistan visit this fantastic place to find solace and experience the serenity surrounded by amazing hills, green meadows, and the flowing Neelum River. </p>
    </div>
</div>
<div class="info">
    <div class="valley-image">
        <img src="./images/hunza-valley.jpg" alt="hunza-valley">
    </div>
    <div class="details">
        <h2>Hunza Valley</h2>
        <p><strong>Location: </strong>Gilgit-Baltistan</p>
        <p><strong>About: </strong>The ancient Hunza Valley engulfs you with nostalgia, especially when you encounter Tibetan architecture and Buddhist inscriptions on the walls. Moreover, you observe an artificial lake formed by the massive land sliding in the beautiful Hindu Kush Range. The reason for attracting many tourists from all over the world is that glitzy, pure white mountains touching the clouds and haze on the sky imbue an exceptional sense of wholesomeness.</p>
    </div>
</div>
<div class="info">
    <div class="valley-image">
        <img src="./images/kumrat-valley.jpeg" alt="kumrat-valley">
    </div>
    <div class="details">
        <h2>Kumrat Valley</h2>
        <p><strong>Location: </strong>Dir district, KPK</p>
        <p><strong>About: </strong>The recently found Kumrat Valley remained oblivious to the outer world and was an unexplored place for many years to the tourists. Finally, however, this valley just became in the limelight due to its dense pine trees, lush green meadows and raging rivers.</p>
    </div>
</div>
<div class="info">
    <div class="valley-image">
        <img src="./images/Kalam-valley.jpg" alt="Kalam-valley">
    </div>
    <div class="details">
        <h2>Kalam Valley</h2>
        <p><strong>Location: </strong>Swat</p>
        <p><strong>About: </strong>The stunning Kalam Valley, one of the scenic valleys in Pakistan, is situated at the heart of the Swat region. The world recognizes Swat as the “Switzerland of Pakistan” as well. Kalam Valley takes your heart by surprise every time you visit this stunning place. The mesmerizing lakes, the restless Swat River and the peaceful forests.</p>
    </div>
</div>
<div class="info">
    <div class="valley-image">
        <img src="./images/swat-valley.jpeg" alt="swat-valley">
    </div>
    <div class="details">
        <h2>Swat Valley</h2>
        <p><strong>Location: </strong>Malakand division, KPK</p>
        <p><strong>About: </strong>Swat valley is rich in history, art and attractiveness. It's the best places to visit in Pakistan where China, Central Asia, and South Asia meet and provide a route to these places. The history of this mesmerizing valley goes back to 2000 years, and it has still preserved its civilization. Therefore, Swat Valley is the most attractive place for visitors. The handcrafted carpets, shawls and pure honey are the blueprint of their craftsmanship and sincerity.</p>
    </div>
</div>