<div class="form-container">
    <h1>Add New Record</h1>
    <div class="form-box">
        <form action="/places/new" method="post">
            <label for="name">Name:</label>
            <input type="text"  name="name" id="name"/> <br/>
            <label for="landscape">Landscape:</label>
            <input type="text"  name="landscape" id="landscape"/> <br/>
            <label for="location">Location:</label>
            <input type="text"  name="location" id="location"/> <br/>
            <button type="submit" class="btn btn-dark">Add New Place</button>        
        </form>
    </div>
</div>