<div class="form-container">
    <h1>Search Form</h1>
    <div class="form-box">
        <form class="d-flex" action="/search" method="get">
            <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</div>