<table>
    <thead>
        <tr>
            <th>name</th>
            <th>landscape</th>
            <th>location</th>
        </tr>
    </thead>
    <% places.forEach(std => { %>
     <tr>
         <td><%= plc.name %></td>
         <td></td>
         <td></td>
     </tr>
    <% }) %>
    <tfoot>
        <tr>
            <td colspan="2">Total</td>
            <td>Amount</td>
        </tr>
    </tfoot>
</table>