<div class="info">
    <div class="desert-image">
        <img src="./images/katpana-desert.jpg" alt="katpana-desert">
    </div>
    <div class="details">
        <h2>Katpana Desert</h2>
        <p><strong>Location: </strong> Skardu, Gilgit-Baltistan, Pakistan</p>
        <p><strong>About: </strong>The Katpana Desert or Cold Desert is a high-altitude desert located near Skardu in District Shigar, Gilgit-Baltistan, Pakistan. The desert contains large sand dunes that are sometimes covered in snow during the winters. Situated at an elevation of 2,226 metres (7,303 ft) above sea level, the Katpana Cold Desert is one of the highest deserts in the world. While the desert technically stretches from the banks of Indus River in the south of Skardu to New Ranga Village in the north, the portion of the desert that is most frequented by tourists is located near Katpana Lake close to Skardu Airport</p>
    </div>
</div>
<div class="info">
    <div class="desert-image">
        <img src= "./images/cholistan-desert.jpeg" alt="K2">
    </div>
    <div class="details">
        <h2>Cholistan Desert</h2>
        <p><strong>Location: </strong>Punjab, Pakistan</p>
        <p><strong>About: </strong>Occupying the far south of Punjab, Cholistan is the largest desert in Pakistan, covering over 25,000 sq. kms area. In the middle of the desert stands majestically the impressive Derawar Fort, this originally was the ancestral seat of Amir of Bahawalpur. This is the largest and the best preserved chain of forts, built in the days gone by.</p>
    </div>
</div>
<div class="info">
    <div class="desert-image">
        <img src="./images/thar-desert.jpg" alt="thar-desert">
    </div>
    <div class="details">
        <h2>Thar Desert</h2>
        <p><strong>Location: </strong>Eastern Pakistan</p>
        <p><strong>About: </strong>The Thar Desert, also known as the Great Indian Desert, is an arid region in the north-western part of the Indian subcontinent that covers an area of 200,000 km2 (77,000 sq mi) in India and Pakistan. It is the world's 18th-largest desert, and the world's 9th-largest hot subtropical desert.</p>
    </div>
</div>
<div class="info">
    <div class="desert-image">
        <img src="./images/thal-desert.jpeg" alt="thal-desert">
    </div>
    <div class="details">
        <h2>Thal Desert</h2>
        <p><strong>Location: </strong>Muzaffargarh, Punjab</p>
        <p><strong>About: </strong>It comprises of larger parts of districts of Mianwali, Bhakkar, Layyah, Muzaffargarh and some parts of the districts of Khushab, Sargodha and Jhang. The soil are alluvial with sandy  textured sand dunes covering 50 to 60 percent of the area. The mean maximum and minimum temperatures recorded in the tract are about 44˚C and less than 0˚C respectively. The average annual precipitation varies from  385 mm in the north-east to 170 mm in the south. Approximately three-fourth of annual rainfall is received during monsoon.</p>
    </div>
</div>
<div class="info">
    <div class="desert-image">
        <img src="./images/kharan-desert.jpg" alt="kharan-desert">
    </div>
    <div class="details">
        <h2>Kharan Desert </h2>
        <p><strong>Location: </strong>Balochistan Province</p>
        <p><strong>About: </strong>It lies 6 miles (10 km) from the Baddo River. Long a caravan depot, it still trades in salt, millet, wheat, dates, melons, carpets, and baskets. The surrounding area is mostly desert but has cultivated tracts, dependent on flood irrigation, along foothills and the Baddo and Māshkel rivers.</p>
    </div>
</div>