<div class="info">
    <div class="landscape-image">
        <img src= "./images/borith_lake.jpg" alt="Borith Lake">
    </div>
    <div class="details">
        <h2>Borith Lake</h2>
        <p><strong>Location: </strong>Hunza, Gilgit-Baltistan</p>
        <p><strong>About: </strong>Ratti Gali is a high-altitude lake in Pakistan fed by glacial waters of the mountains surrounding it. The lake's beauty has inspired writers for years, with lush green grass, wildflowers, and cool winds creating a unique ambience. The only way to reach this lake is to hike from the Dowarian base camp.</p>
    </div>
</div>
<div class="info">
    <div class="landscape-image">
        <img src="./images/ratti_gali_lake.jpg" alt="Ratti Gali Lake">
    </div>
    <div class="details">
        <h2>Ratti Gali Lake</h2>
        <p><strong>Location: </strong>Neelam Valley, Azad Kashmir</p>
        <p><strong>About: </strong>Ratti Gali Lake is an alpine glacial lake which is located in Neelum Valley, Azad Kashmir, Pakistan . The lake is located at an altitude of 3,683 metres (12,083 ft). The lake is fed by the surrounding glacier waters of the mountains.</p>
    </div>
</div>
<div class="info">
    <div class="landscape-image">
        <img src="./images/Sheosar-Lake.jpg" alt="Sheosar Lake">
    </div>
    <div class="details">
        <h2>Sheosar Lake</h2>
        <p><strong>Location: </strong>Deosai Plains, Gilgit-Baltistan</p>
        <p><strong>About: </strong>Located within the Deosai Plateau, which is the second-highest plateau in the world, the lake is accessible via two primary routes. One route leads to the park from Skardu via a jeep ride of a few hours, while the other enters the park from Astore over a 4-hour ride in a 4*4. You can also trek for a total of two days to reach the lake from Skardu. The best time to visit the park and the lake is in spring when wildflowers bloom all over the meadows. The lake itself is around 130 feet deep, with a beautiful backdrop of mountains.</p>
    </div>
</div>
<div class="info">
    <div class="landscape-image">
        <img src="./images/dudipatsar_lake.jpg" alt="Pakistani Lake">
    </div>
    <div class="details">
        <h2>Dudipatsar Lake</h2>
        <p><strong>Location: </strong>Kaghan Valley, Khyber Pakhtunkhwa</p>
        <p><strong>About: </strong>The Lulusar-Dudipatsar National Park in Kaghan Valley is also home to the Dudipatsar Lake. The name literally translates to 'White Mountain Lake', referring to the snow-clad mountains surrounding the water body. The lake is also known as Dudipat Lake, and it is only accessible on foot. After parking your car at Besal, an hour away from Naran, you will be able to hike around 15 kilometres to the lake in less than 10 hours.</p>
    </div>
</div>
<div class="info">
    <div class="landscape-image">
        <img src="./images/swaik_lake.jpg" alt="Pakistani Lake">
    </div>
    <div class="details">
        <h2>Swaik Lake</h2>
        <p><strong>Location: </strong>Khandoa Village, Kallar Kahar Tehsil, Chakwal District, Punjab</p>
        <p><strong>About: </strong>Swaik Lake is often called Khandoa Lake due to its proximity to the village of Khandoa. This blue-green lake with its waterfalls is perfect for a swim or a picnic but is less frequented by tourists because it is hidden from the main roads. A 45-minute hike from the M2 motorway can take you to this secret oasis amidst the foliage, where you can even partake in cliff diving and trekking around the area.</p>
    </div>
</div>