<div class="info">
    <div class="landscape-image">
        <img src="./images/badshahi_mosque.jpg" alt="badshahi_mosque">
    </div>
    <div class="details">
        <h2>Badshahi Mosque</h2>
        <p><strong>Location: </strong>Lahore, Pakistan</p>
        <p><strong>About: </strong>The Badshahi Mosque is a Mughal era mosque in Lahore, capital of Punjab, Pakistan. Badshahi Mosque is located in historical setting. Its front side faces Lahore Fort and on the northern side is Minar-e Pakistan, on northeast corner is Samadhi Ranjit Sing, on suthern side is the Walled City of Lahore. The mosque is considered to be one of Lahore's most iconic landmarks.</p>
    </div>
</div>
<div class="info">
    <div class="landscape-image">
        <img src="./images/abbasi_masjid.jpg" alt="Abbasi Mosque">
    </div>
    <div class="details">
        <h2>Abbasi Mosque</h2>
        <p><strong>Location: </strong>Yazman Tehsil, Bahawalpur District, Punjab</p>
        <p><strong>About: </strong>Abbasi Mosque was built by Nawab Bahawal Khan in 1849. It was built like the Shah Jahani Masjid in Delhi, using the same construction materials. It has a capacity to hold 10,000 worshippers.</p>
    </div>
</div>
<div class="info">
    <div class="landscape-image">
        <img src="./images/dai_anga_Masjid.jpg" alt="dai_anga_Masjid">
    </div>
    <div class="details">
        <h2>Dai Anga Mosque</h2>
        <p><strong>Location: </strong>Lahore, Punjab, Pakistan</p>
        <p><strong>About: </strong>The mosque was visited by the faithfuls during the Moghul period but later on when Punjab came under the Sikhs, the mosque along with other historic buildings was used for military purposes. Later during the colonial period it served as a residence and then as a railway office due to its proximity to the railway station. It was then handed back to the Muslims. The mosque had a magnificent exterior and an equally grand interior though it is said to be “simple” as compared to the other mosques of the Moghul era. The structure is octagonal in shape with minarets at each corner.</p>
    </div>
</div>
<div class="info">
    <div class="landscape-image">
        <img src="./images/Bhong-Mosque.jpg" alt="Bhong-Mosque">
    </div>
    <div class="details">
        <h2>Bhong Mosque</h2>
        <p><strong>Location: </strong>Bhong, Rahim Yar Khan, Punjab, Pakistan</p>
        <p><strong>About: </strong>The late Rais Ghazi Mohammad, the landlord of a large estate, began this project in 1932 in Bhong village, the most important of the scattered villages on his vast property. The mosque was to be the most glorious building in his palace compound which also included a smaller mosque, a madrasa and rooms for students. It won the Aga Khan Award for Architecture in 1986.</p>
    </div>
</div>
<div class="info">
    <div class="landscape-image">
        <img src= "./images/sunehri_masjid.jpeg" alt="Sunehri Mosque">
    </div>
    <div class="details">
        <h2>Sunehri Mosque</h2>
        <p><strong>Location: </strong>Lahore</p>
        <p><strong>About: </strong>The Sunheri Mosque ('Golden Mosque'), also known as the Talai Mosque, is a late Mughal architecture-era mosque in the Walled City of Lahore, capital of the Pakistani province of Punjab. Unlike the Wazir Khan Mosque and Badshahi Mosque which were built at the zenith of the Mughal Empire in the 17th century, Sunehri Mosque was built in 1753 when the empire was in decline.</p>
    </div>
</div>