*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', serif;
    /* #F2E0C9; */
    background: #F2D8CE;
}
.carousel-item img{
    object-fit: cover;
    height: 30em;
}
.navbar{
    display: flex;
    align-items: right;
    margin-top: 0.3em;
}
.logo{
    width: 10em;
    height: 4em;
    padding: 0%;
}

/* .dropdown{
    background: inherit;
} */

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}
.nav-link {
    text-decoration: none; 
    color: inherit; 
    cursor: pointer; 
}
.carousel-indicators {
    top: 29em; 
    left: 50%;
    text-align: center;
}
.carousel-item img {
    width: 100%;
    height: 30em; 
}
.carousel-caption {
    top: 27em;
    left: 50%;
    z-index: 10;
    color: #fff; 
}
.contain2{
    clear:both;
    padding-top: 1em;
}
h1{
    text-align: center;
}
#main{
    text-align: center;
}
.cards {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 1.5em;
  padding-left: 4em;
}    
.cards .card {
  --normal-color: #d26969; /* Define a CSS variable for normal color */
  --hover-color: #923050;  /* Define a CSS variable for hover color */  
  background-color: var(--normal-color); /* Use normal color variable */
  display: flex;
  padding: 0.5em;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 200px;
  width: 150px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: transform 400ms, background-color 400ms; /* Add transition for background-color */
}   
.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}    
.cards .card p.second-text {
  font-size: .7em;
}   
.cards .card:hover {
  transform: scale(1.2, 1.2);
  background-color: var(--hover-color); /* Change background color on hover */
}  
.hover {
  transform: scale(1.2, 1.2);
  z-index: 1;
}