<div class="info">
    <div class="mount_histPlc-image">
        <img src= "./images/k2.jpg" alt="K2">
    </div>
    <div class="details">
        <h2>K2</h2>
        <p><strong>Location: </strong>Skardu</p>
        <p><strong>About: </strong>K2 is the tallest peak in the Karakorams and the second-highest peak in the world. It straddles the border between Pakistan and China and is known as one of the world's most technical and deadly summits.</p>
    </div>
</div>
<div class="info">
    <div class="mount_histPlc-image">
        <img src="./images/Nanga_Parbat.jpg" alt="Nanga_Parbat">
    </div>
    <div class="details">
        <h2>Nanga Parbat</h2>
        <p><strong>Location: </strong>Western Himalayas</p>
        <p><strong>About: </strong>Nanga Parbat is the westernmost major peak of the Himalayas and is the world's 14th most prominent mount_histPlcain. It is also one of the 14 peaks above 8000m (26,250 ft), ranked 9th globally.</p>
    </div>
</div>
<div class="info">
    <div class="mount_histPlc-image">
        <img src="./images/Batura-trek.jpg" alt="Batura-trek">
    </div>
    <div class="details">
        <h2>Batura Sar</h2>
        <p><strong>Location: </strong>Hunza, Northern Karakoram</p>
        <p><strong>About: </strong>Batura Sar is the second most prominent peak in the Karakorams and the tenth tallest in Pakistan. Situated in the Batura Muztagh subrange, Batura Sar lies in the northwestern region of the Karakorams. It forms the apex of the Batura Wall</p>
    </div>
</div>
<div class="info">
    <div class="mount_histPlc-image">
        <img src="./images/rakaposhi-peak.jpg" alt="rakaposhi-peak">
    </div>
    <div class="details">
        <h2>Rakaposhi</h2>
        <p><strong>Location: </strong>Karakoram</p>
        <p><strong>About: </strong>Rakaposhi is the third most prominent peak in the Karakorams and the 27th tallest peak globally. Located in the Bargote Valley, it's also known as Dumani, which translates to the Mother of Mist. Rakaposhi is noted for its dramatic face, dropping nearly 6,000 m (19,700 ft) from summit to base. The nearby town of Gilgit is host to a viewpoint known as the Zero Point of Rakaposhi.</p>
    </div>
</div>
<div class="info">
    <div class="mount_histPlc-image">
        <img src="./images/tirich-mir.jpg" alt="tirich-mir">
    </div>
    <div class="details">
        <h2>Tirich Mir</h2>
        <p><strong>Location: </strong>North of Peshawar, KPK</p>
        <p><strong>About: </strong>Tirich Mir, highest peak (25,230 feet [7,690 metres]) in the Hindu Kush mount_histPlcain system, lying 155 miles (249 km) north of Peshawar, Pakistan, in Khyber Pakhtunkhwa province near Afghanistan. The Upper Tirich Glacier basin is formed by Tirich Mir East, Tirich Mir, peaks to the west, and another group to the north; these peaks form a horseshoelike semicircle. </p>
    </div>
</div>